* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  width: 100%;
  height: 100%; }

img {
  display: block;
  max-width: 100%; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: .3px; }

h1 {
  font-size: 2.4rem; }

h2, h3 {
  font-size: 1.333rem;
  color: #0c22b4; }

h3 {
  display: inline-block; }

h3::after {
  display: block;
  height: 2px;
  background-color: #ffb2ea;
  content: "";
  margin-bottom: 10px; }

a, a:link, a:visited, a:active {
  color: #0c22b4;
  font-weight: bold;
  text-decoration: none;
  transition: ease all .25s; }

a:hover {
  color: #ffb2ea;
  transition: ease all .25s; }

a:focus {
  outline: 1px solid #0c22b4; }

.hire-me {
  position: absolute;
  left: 10px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: green;
  font-weight: 600; }
  @media only screen and (max-width: 768px) {
    .hire-me {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-animation-name: none;
              animation-name: none; } }

.hire-me-circle {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  -webkit-animation-name: glow;
          animation-name: glow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  vertical-align: middle; }

@-webkit-keyframes glow {
  from {
    box-shadow: 0px 0px 20px green; }
  to {
    box-shadow: 0px 0px 10px green; } }

@keyframes glow {
  from {
    box-shadow: 0px 0px 20px green; }
  to {
    box-shadow: 0px 0px 10px green; } }

@-webkit-keyframes move {
  from {
    top: 10px; }
  to {
    top: 25px; } }

@keyframes move {
  from {
    top: 10px; }
  to {
    top: 25px; } }

.intro {
  height: 80vh;
  background: #ffb2ea;
  color: #0c22b4;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  @media only screen and (max-width: 768px) {
    .intro {
      height: 75vh;
      padding: 15px 0; } }

.showcase {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.project {
  width: 49%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  background-color: #0c22b4;
  color: white;
  padding: 15px;
  border-left: 5px solid #ffb2ea; }
  .project .project__title {
    color: #ffb2ea;
    font-weight: bold; }
  .project a.project__link {
    display: block;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 10px;
    padding: 5px; }
    .project a.project__link:hover {
      background-color: #ffb2ea;
      color: #0c22b4;
      border-color: #ffb2ea; }
  .project:nth-of-type(odd) {
    margin-right: 2%; }
  @media only screen and (max-width: 768px) {
    .project {
      width: 100%;
      margin-bottom: 10px; }
      .project:nth-of-type(odd) {
        margin-right: 0; } }

::-moz-selection {
  background: #ffb2ea;
  color: #0c22b4; }

::selection {
  background: #ffb2ea;
  color: #0c22b4; }

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px; }

footer {
  text-align: center;
  color: #ffb2ea;
  background: #0c22b4;
  padding: 10px;
  margin-top: 10px; }
