---
layout: default
title: Patrick Whitehouse - Front end developer based in Tameside
description: The portfolio of Tameside based front end developer, Patrick Whitehouse. Explore his work and have a read of his blog posts.
---
{% if site.hire-me %}
<span class="hire-me"><span class="hire-me-circle"></span>I'm available for hire!</span>
{% endif %}
<section class="intro">
  <div class="intro__content">
    <h1>Patrick Whitehouse</h1>
    <h2>Front end developer based in Tameside</h2>
  </div>
</section>
<section class="about">
  <div class="wrapper">
    <h3>About</h3>
    <img src="images/me-and-beth.jpg" alt="Patrick and his girlfriend Beth">
    <p>Hello there! I'm Patrick Whitehouse, a front end developer based in Tameside, Manchester.</p>
    <p>I work as a front end developer, mainly working with Magento, for <a href="https://pushon.co.uk" target="_blank">PushON</a>, who are located
      just outside Manchester city centre. I have very recently became a certified front end Magento 2 developer =)</p>
    <p>
      I have a passion for cars and currently drive an Abarth 500. I also have a passion for photography and I <strong>try</strong> and combine the two using a Canon, iPhone X and <a href="//instagram.com/p44adx">Instagram</a>.
    </p>
  </div>
</section>
<section class="case-studies">
  <div class="wrapper">
    <h3>Case Studies</h3>
    <p>Check out my latest bits of work. I'm always on the lookout for extra work so fire me a message if you need a
      website building!</p>
    <div class="showcase">
      {% for project in site.data.work %}
      <div class="project">
        <span class="project__title">{{project.name}}</span>
        <p class="project__excerpt">{{project.desc}}</p>
        <a href="{{project.url}}" class="project__link" target="_blank">Check out {{project.name}}</a>
      </div>
      {% endfor %}
    </div>    
  </div>
</section>
<section class="contact">
  <div class="wrapper">
    <h3>Contact me</h3>
    <p>There are plenty of ways to get in touch with me. </p>
    <p>
      <ul>
        <li>Twitter: <a href="//twitter.com/patrickdoesweb" target="_blank">@patrickdoesweb</a></li>
        <li>Email: <a href="mailto:patrickwhitehouse@icloud.com">patrickwhitehouse{AT}icloud.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/patrick-whitehouse-2bb59ba5/">https://www.linkedin.com/in/patrick-whitehouse-2bb59ba5/</a></li>
      </ul>
    </p>
  </div>
</section>