---
layout: default
---
<section class="intro mb4">
  <h1>Patrick Whitehouse</h1>
  <img src="{{"/images/me-and-beth.jpg" | absolute_url }}" alt="Me and Beth" class="mw-100 w-50-ns fl-ns mr3-ns mb3-ns">  
  <p class="lh-copy">Hello there 👋! I'm Patrick Whitehouse, a front end developer based in Tameside, Manchester 🇬🇧</p>
  <h2>Bio</h2>
  <p class="lh-copy">I have always been interesed in how computers work and function from being 👶. I have grown up watching my 👴 build computers, repair networks and study for Cisco exams. He's my inspiration in life and is the reason why I always put 💯 effort into everything I do.</p>
  <p class="lh-copy">I've recently 🎓 from Manchester Metropolitan University with a First Class Honours in Web Development 🎉!  </p>
</section>
<section class="work mb4" id="work">
  <h2>My Work</h2>
  <p class="lh-copy">Have a gander at my latest projects.</p>
  <div class="work__wrapper">
    <ul class="list pa0 cf">
    {% for project in site.data.work %}
    <li class="work__item tc dib w-50-ns w-100 mb5 mb0-ns pa2 fl">
      <img src="{{project.img}}" alt="">
      <h3>{{project.title}}</h3>
      <p class="lh-copy">{{project.desc}}</p>
      <a href="{{project.url}}" class="common-button" target="_blank">View live site</a>
    </li>
    {% endfor %}
</ul>
  </div>
</section>

<div class="blog" id="blog">
  <h2>Latest Blog Entries</h2>
  <ul class="list pa0">
    {% for post in site.posts %}
    <li class="blog__post mb2">
      <h3 class="mb0">{{post.title}}</h3>
      <small class="light-purple">{{post.date | date_to_string}}</small>
      <p class="lh-copy">{{post.excerpt}}</p>
      <a href="{{post.url}}" class="common-button">Read {{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
