.page-intro{
    text-align: center;
    padding-top: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-black;
    color: white;
}

.about{
    @include grid-container;
    &-info, &-image{
        @include grid-column(6);
        @include grid-media($tablet-grid){
            @include grid-column;
        }
    }
    &-general{
        @include grid-column;
    }
}

.tech-stack{
    li{
        list-style: circle;
        color: $color-red;
        list-style-position: inside;
    }
}