<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
<!-- Search Engine -->
<meta name="description" content="{{page.description}}">
<meta name="image" content="https://patricks.site/images/me-and-beth.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{page.title}}">
<meta itemprop="description" content="{{page.description}}">
<meta itemprop="image" content="https://patricks.site/images/me-and-beth.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:site" content="@patrickdoesweb">
<meta name="twitter:creator" content="@patrickdoesweb">
<meta name="twitter:image:src" content="https://patricks.site/images/me-and-beth.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{page.title}}">
<meta name="og:description" content="{{page.description}}">
<meta name="og:image" content="https://patricks.site/images/me-and-beth.jpg">
<meta name="og:url" content="https://patricks.site">
<meta name="og:site_name" content="Patrick Whitehouse - Front end developer">
<meta name="og:locale" content="en_GB">
<meta name="og:type" content="website">
<title>{{page.title}}</title>
<style type="text/css">
    a,
    abbr,
    acronym,
    address,
    applet,
    b,
    big,
    blockquote,
    body,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    font,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    object,
    ol,
    p,
    pre,
    q,
    s,
    samp,
    small,
    span,
    strike,
    strong,
    sub,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr,
    tt,
    u,
    ul,
    var {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0
    }

    body {
        line-height: 1
    }

    ol,
    ul {
        list-style: none
    }

    blockquote,
    q {
        quotes: none
    }

    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: '';
        content: none
    }

    :focus {
        outline: 0
    }

    ins {
        text-decoration: none
    }

    del {
        text-decoration: line-through
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }
</style>
<link rel="preload" href="/css/main.css" as="style">
<link rel="stylesheet" href="/css/main.css">
<script src="./js/instafeed.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88172365-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-88172365-3');
</script>