// General Styles

body{
    font-family: $font-sans;
    font-size: $font-base;
    line-height: 2;
    letter-spacing: .3px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

h1{
    font-size: $font-xl;
}
h2,h3{
    font-size: $font-l;
    color: $purple;
}

h3{
    display: inline-block;
}

h3::after{
    display: block;
    height: 2px;
    background-color: $orchid;
    content:"";
    margin-bottom: $indent__m;
}

a, a:link, a:visited, a:active{
    color: $purple;
    font-weight: 600;
    text-decoration: none;
    transition: ease all .25s;
    overflow-wrap: break-word;
}

a:hover{
    color: $orchid;
    transition: ease all .25s;
}

a:focus{
    outline: 1px solid $purple;
}