// Colors

$orchid: #ffb2ea;
$purple: #0c22b4;
$grey: #eee;

// Fonts

@import url('https://rsms.me/inter/inter-ui.css');

$font-sans: 'Inter UI', sans-serif;

$font-base: 16px;
$font-l: 1.333rem;
$font-xl: 2.4rem;

// Spacing variables

$indent__s: 5px;
$indent__m: 10px;
$indent__l: 15px;

// Screen sizes

$screen__s: 640px;
$screen__m: 768px;
$screen__l: 960px;
