* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

@import "variables";
@import "typography";
@import "home";

p{
  margin: 20px 0;
}

img{
  display: block;
  max-width: 100%;
}


::selection {
  background: $orchid;
  color: $purple;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: $indent__m;
}

footer {
  text-align: center;
  color: $orchid;
  background: $purple;
  padding: $indent__m;
  margin-top: $indent__m;
}