<!DOCTYPE html>
<html>
  <head>
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
    <meta charset="utf-8">
    <meta name="description" content="Patrick Whitehouse is a front end developer based in Tameside, Manchester. ">
    <meta name="author" content="Patrick Whitehouse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{"/images/favicon.png" | relative_url}}" type="image/png">
    <!-- Facebook Meta -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Patrick Whitehouse - Front end web developer">
    <meta property="og:url" content="https://patricks.site">
    <meta property="og:image" content="https://patricks.site/images/me-and-beth.jpg">
    <meta property="profile:first_name" content="Patrick">
    <meta property="profile:last_name" content="Whitehouse">

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@patrickdoesweb">
    <meta name="twitter:title" content="Patrick Whitehouse - Front end web developer">
    <meta name="twitter:description" content="Web designer and developer based in Tameside, Manchester. Lets talk about getting your project up and running!">
    <meta name="twitter:image" content="https://patricks.site/images/me-and-beth.jpg">

    <title>Patrick Whitehouse - Front end developer based in Tameside, Manchester</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Poppins:600" rel="stylesheet">
    <link href="{{ "/css/main.css?v=1" | relative_url }}" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body class="bg-washed-green dark-grey pa4 pa0-l fade-out">
    <div class="mw7 center">
      {% include nav.html %}
      {{content}}
    </div>
    <script type="text/javascript">
    setTimeout(function(){
      document.body.className = document.body.className.replace("fade-out","");
    }, 100);
    twemoji.parse(document.body);
    </script>
  </body>
</html>
